/* Estilos básicos */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body{
    background-color: #1b263b;
}

nav {
  background-color: #0d1b2a;
}

ul,
a{
    list-style: none;
    text-decoration: none;
}

a{
    font-size: clamp(1.3em, 2vw, 1.5em);
}

/* nav bar configuração padrão */

ul.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

ul.navbar li {
   display: none;
    width: 100%;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

/* configuração de posição */



ul.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
ul.navbar li.toggle,
ul.navbar li.logo {
    display: block;
    font-size: clamp(1.3em, 2vw, 1.5em);
}
  


ul.navbar li.toggle a {
    text-align: end;
}

ul.navbar li.logo a {
    text-align: start;
}

/* expandir*/
ul.navbar.responsive li {
    display: block;
}
  
ul.navbar.responsive li.toggle {
    order: -1;
}

ul.navbar.responsive li.logo{
    display: none;
}
  
ul.navbar.responsive {
    position: absolute;
    left: 0;
    top: 60vh;
    background-color: #0d1b2a;
    width: 100vw;
    height: 40%;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

/* Estilos para o menu colapsado */
@media screen and (min-width: 444px) {
  

    /* Esconder o botão de toggle inicialmente */
    ul.navbar li.toggle {
        display: none;
    }

    ul.navbar li{
        display: block;
    }

    ul.navbar li.navItem{
        flex-shrink: 8;
    }

    ul.navbar li.navItem a{
    white-space: nowrap;
  }

    
    
}

@media (hover){
    ul.navbar li a:hover {
    background-color: #415a77;
    transition: 200ms;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #415a77;
}
}
